@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FF2E63;
  /* Vibrant Pink/Red */
  --primary-foreground: #ffffff;
  --secondary: #08D9D6;
  /* Bright Teal/Cyan */
  --secondary-foreground: #000000;
  --accent: #252A34;
  /* Dark Accent */
  --accent-foreground: #ffffff;
  --destructive: #ff0000;
  --destructive-foreground: #ffffff;
  --border: #000000;
  --input: #000000;
  --ring: #FF2E63;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --font-sans: var(--font-outfit);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}